@import '_vars';
@import 'module';

.expense-form {
	@include normalize;
	margin: $pad 0;
	border: 1px solid $color-tertiary;

	textarea {
		padding: $pad;
		resize: none;
		margin-bottom: $pad;
		height: 5em;
	}
}